@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*===== VARIABLES CSS =====*/
:root{
    --header-height:3rem;

/*===== Colors =====*/
--hue:174;
--sat:63%;

--first-color: hsl(var(--hue), var(--sat), 40%);
--first-color-alt: hsl(var(--hue), var(--sat), 36%);
--title-color: hsl(var(--hue), 12%, 15%);
--text-color: hsl(var(--hue), 8%, 35%);
--body-color: hsl(var(--hue), 100%, 99%);
--container-color:#FFF;


/*===== Font and Typography =====*/
--body-font: 'Open Sans', sans-serif;

--h1-font-size: 1.5rem;
--normal-font-size: .938rem;
--tiny-font-size:.625rem;

/*===== z index =====*/

--z-tooltip: 10;
--z-fixed: 100;

}

@media screen and (min-width:968px) {
    :root{
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}


/*===== Base =====*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*===== Resuable CSS Classes =====*/
.section{
    /* padding: 4.5rem 0 2rem; */
}

.section__title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.section__height{
    height: 100vh;
}

/*===== Layout =====*/
.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*===== Header =====*/
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

/*===== Nav =====*/
nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img{
    width: 32px;
    border-radius: 50%;
}

.nav__logo{
    color: var(--title-color);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
}

.nav__list,
.nav__link{
    display: flex;
}

.nav__link{
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--title-color);
    font-weight: 600;
}

.nav__list{
    justify-content: space-around;
}

.nav__name{
    font-size: var(--tiny-font-size);
    display: block; /* Minimilist Design */
}

.nav__icon{
    font-size: 1.5rem;
}

/*Acyive Link*/
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

/* Minimalist Design, Active Link */
/* .active-link::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
} */

/*==== Change Background Header ====*/
.scroll-header{
    box-shadow: hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*==== Media Queries ====*/
/* For small devices */

/* Remove if you choose, the minimalist design */
@media screen and (max-width:320px) {
    .nav__name{
        display: none;
    }
}
/* For medium devices */
@media screen and (min-width:576px) {
    .nav__list{
        justify-content: center;
        column-gap: 3rem;
    }
}
@media screen and (min-width:767px) {
    body{
        margin: 0;
    }
    .section{
        padding: 7rem 0 2rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__img{
        display: none;
    }
    .nav__icon{
        display:block; /* modify  */
        padding-right: .5rem;
    }
    .nav__name{
        font-size: var(--normal-font-size);
        display: block; /* Minililist Design */
    }
    .nav__link:hover{
        color: var(--first-color);
    }
    /* modify  */
    .nav__link{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* First Design */
    /* .active-link::before{
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: var(--first-color);
    } */
    /* Minimalist Design */
    .active-link::before{
        bottom: -.75rem;
        left: 60%;
    }
}
/* For large devices */
@media screen and (min-width:1024px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}



/* Modal Start */
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.container-modal button {
    cursor: pointer;
    border: none;
    outline: none;
}

.modal__content img {
    max-width: 100%;
    height: auto;
}

/*=============== MODAL ===============*/
.container-modal {
    /* margin-left: 1rem;
    margin-right: 1rem; */
}

.modal {
    height: 100vh;
    display: grid;
    place-items: center;
}
.modal__button__main{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
    /* padding: 1rem 1.25rem; */
    /* border-radius: .5rem; */
    transition: .3s;
}
.modal__button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
}

.modal__button:hover {
    background-color: var(--first-color-alt);
}

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(var(--hue), 18%, 75%, .8);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all .3s;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    /*=== Effect 3 ===*/
    /* perspective: 1000px; */
}

.modal__content {
    position: relative;
    background-color: var(--container-color);
    text-align: center;
    padding: 3rem 2rem 2rem;
    border-radius: 1rem 1rem 0 0;
    transition: all .3s;

    /*=== Effect 1 ===*/
    transform: translateY(10%);

    /*=== Effect 2 ===*/
    /* transform: scale(.5) translateY(10%); */

    /*=== Effect 3 ===*/
    /* transform: rotateX(65deg) scale(.75) translateY(10%);
transform-origin: 50% 100%; */
}

.modal__img {
    width: 150px;
    margin-bottom: .75rem;
}

.modal__close {
    display: inline-flex;
    background-color: var(--first-color);
    border-radius: .25rem;
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.modal__title {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: 500;
}

.modal__description {
    margin-bottom: 1.5rem;
}

.modal__button-width {
    width: 90%;
}

.modal__button-link {
    display: block;
    margin: 1rem auto 0;
    background-color: transparent;
    color: var(--first-color);
    font-weight: 500;
}

/* Show modal */
.show-modal {
    visibility: visible;
    opacity: 1;
}

.show-modal .modal__content {
    /*=== Effect 1 ===*/
    transform: translateY(0);

    /*=== Effect 2 ===*/
    /* transform: scale(1) translateY(0); */

    /*=== Effect 3 ===*/
    /* transform: rotateX(0) scale(1) translateY(0); */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px) {
    .modal__content {
        margin: auto;
        width: 380px;
        border-radius: 1.25rem;
    }

    .modal__img {
        width: 170px;
    }
}



/* 
.card-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.card-wrapper{
    width: 2300px;
    left: 0px;
    display: block;
}
.grid-conatiner{
    display:flex;
}
.card-item{
    width: 115px;
}
.poster{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-top: 140%;
} */
/* .card-wrapper-outer{
    width: 100%;
}
.card-wrapper{
    overflow-y: hidden;
    overflow-x: scroll;
    width: 1300px;
    left: 0px;
    display: block;
} */
.grid-container{
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: .5rem;
}
.flex-container{
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    display: flex;
}
.grid-container::-webkit-scrollbar {
    display: none;
  }
.card{
    position: relative;
    float: left;
    width: 100%;
    min-width: 150px;
    height: 100%;
    padding-bottom: 140%;
    overflow: hidden;
    border-radius: 8px;
    background-color: aquamarine;
    transition: transform 450ms;
}


.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  .row__posterLarge {
    max-height: 250px;
  }
/*   
  .row__poster:hover {
    transform: scale(1.08);
  } */
  
  /* .row__posters::-webkit-scrollbar {
    display: none;
  } */
  
  
  
  /* .row__posterLarge:hover {
    transform: scale(1.09);
  } */
  
  /* .row {
    color: white;
    margin-left: 20px;
  }
   */